<nav ngbNav #nav="ngbNav" [activeId]="2" class="navbar navbar-expand-lg bg-light">
    

    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Parametros</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Tipo documento</button>
        <button ngbDropdownItem>Tipo estado de cartera</button>
        <button ngbDropdownItem> Tipo concepto</button>
        <button ngbDropdownItem> Tipo deuda</button>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Procesos</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Carga de cartera</button>
          <button ngbDropdownItem>Carga de pagos</button>
          <button ngbDropdownItem> Carga de gestion</button>
 
        </div>
      </li>

      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Informe</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Consolidado x concepto</button>
          <button ngbDropdownItem>Informe por proyecto</button>
          <button ngbDropdownItem>Comparativo por proyecto  </button>
 
        </div>
      </li>
      <li [ngbNavItem]="1">
        <a ngbNavLink (click)="closesecion()">Salir</a>
     
      </li>
  
    </nav>
  
  
 
    <table class="table">
      <thead>
        <tr>
              
        
          <th scope="col"> nombre </th>
          <th scope="col"> codigo </th>
     
          <!-- <th scope="col"> contraseña </th> -->
    

<th><button class="btn btn-dark btn-sm" routerLink="/addDoc">NUEVO</button>

          </th>

        </tr>
      </thead>
      <tbody >
        <tr  *ngFor=" let doc of listdoc">
          
          
          <td scope="col">{{doc.nombre}}</td>
          <td scope="row">{{doc.codigo}}</td>
       
        
          
          <td>
            <div class="options">
              <i  (click)="deleteDocument(doc.id)" class="fa-solid fa-trash"></i>
              <br>
              <i [routerLink]="['/update-doc',(doc.id)]" class="fa-solid fa-file-pen"></i>

              <!-- <li >
                <ul></ul>
              </li> -->
            </div>
           
          </td>

        </tr>

      </tbody>

    </table>
